---
import "../styles/generel.css";
import Post_it from "../components/Post_it.astro";
import Post_it2 from "../components/Post_it2.astro";
import Post_it3 from "../components/Post_it3.astro";
---

<html lang="da">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Girl Talk</title>
	</head>
	<body>
		<h1>Astro</h1>

		<Post_it3 />
		pppp

		<Post_it />
		hdwuiqfhwuoihf
		<Post_it2 />

	</body>
</html>
