---
const { text } = Astro.props;
---

<button> {text} </button>

<style>
  button {
    background-color: var(--secondary);
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    line-height: var(--primary-line-height);
    border-radius: 15px;
    border: none;
    padding: 1rem;
  }

  button:hover {
    background-color: var(--primary-text-color);
    color: var(--secondary);
  }

  /* -------------------- MOBIL -------------------- */
  @media screen and (max-width: 800px) {
    button {
      font-size: 14px;
      padding: 3% 1%;
    }
  }
</style>
