---
const { text } = Astro.props;
---

<button> {text} </button>

<style>
    button{
        background-color: #F7C7D9 /* var(--) */;
        color: #274EA9 /* var(--) */;
        font-size: 1rem;
        border-radius: 20px;
        border: none;
        padding: 1rem;
    }
</style>
