---
import Fold_ud_knapper from "../components/Fold_ud_knapper.astro";
import EmneKnap from "../components/Emne_knap.astro";
import Search from "../components/Search.astro";
---

<div class="container">
  <img src="../../public/img/FAQ.webp" alt="talebobler" />
    <h1>FAQ: FÅ SVAR PÅ HVAD DU SØGER</h1>
</div>

<div class="spørgsmål">
  <Fold_ud_knapper
    text="Hvordan ved jeg om nogle er interesseret i mig?"
    svar="Her står et godt svar"
  />
  <Fold_ud_knapper
    text="Hvordan kan jeg få mod til at snakke med personen jeg har et crush på?"
    svar="Her står et godt svar"
  />
    <Fold_ud_knapper
      text="Hvad gør jeg, hvis jeg bliver afvist?"
      svar="Her står et godt svar"
    />
    <Fold_ud_knapper
      text="Hvordan får jeg personen jeg har et crush på til også at få et crush på mig?"
      svar="Her står et godt svar"
    />
  </Fold_ud_knapper>

  <div class="grid1-5">
  <EmneKnap text="Kærlighed" />
  <EmneKnap text="Selvværd" />
  <EmneKnap text="Venskab & familie" />
  <EmneKnap text="Krop & sex" />
  <EmneKnap text="Trivsel" />
</div>


<div id="soeg">
  <Search />
</div>
<hr class="streg">


  <style>
    /* div {
      margin: 5px 30px;
    } */
    
    /* img {
      max-width: 400px;
    } */

    /* .grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
    } */
    .container{ 
    margin-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .container img {
      width: 150px;
      margin-bottom:50px;
    }

    h1 {
      color:var(--tertiary);
      font-family: var(--primary-font);
      font-size: 40px /* var(--secondary-font-size) */;
      line-height: var(--primary-line-height);
      text-align: center;
    }

   .spørgsmål{ 
    margin-top:20px;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    margin-bottom:60px;
   } 
    .grid1-5 {
      display: grid;
      gap: 1.5rem;
      padding: 8px 70px;
      /*husk rød farve (virkede ikke da jeg ville sætte ind)*/
    }

    #soeg {
     margin-top: 20px;
    }
    .streg {
  border: none; 
  border-top: 2px solid #fc4d5c; 
  width: 100%; 
}
@media screen and (min-width: 768px){
  .container{ 
    margin-top: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    .container img {
      width: 250px;
      margin-bottom:50px;
    }
    h1 {
      font-size: 50px;
      text-align: center;
    }

    .spørgsmål{ 
    width: 100%;
   } 
   .grid1-5 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 1.5rem;
    flex-wrap: wrap; 
    }
}

  </style>
</div>
