---
import Fold_ud_knapper from "../components/Fold_ud_knapper.astro";
import EmneKnap from "../components/Emne_knap.astro";
import Search from "../components/Search.astro";
---

<div class="grid">
  <h1>FAQ: FÅ SVAR PÅ HVAD DU SØGER</h1>
  <img src="../../public/img/FAQ.svg" alt="talebobler" />
</div>

<div class="grid1-5">
  <EmneKnap text="Kærlighed" />
  <EmneKnap text="Selvværd" />
  <EmneKnap text="Venskab & familie" />
  <EmneKnap text="Krop & sex" />
  <EmneKnap text="Trivsel" />
</div>

<div id="soeg">
  <Search />
</div>

<div>
  <Fold_ud_knapper
    text="Hvordan vet jeg om noen liker meg tilbake?"
    svar="Her står et godt svar"
  />
  <Fold_ud_knapper
    text="Hvordan kan jeg få mot til å snakke med personen jeg liker?"
    svar="Her står et godt svar"
  >
    <Fold_ud_knapper
      text="Hva gjør jeg hvis jeg blir avvist?"
      svar="Her står et godt svar"
    />
    <Fold_ud_knapper
      text="Hvordan kan personen jeg liker legge merke til meg?"
      svar="Her står et godt svar"
    />
  </Fold_ud_knapper>

  <style>
    div {
      margin: 5px 30px;
    }
    h1 {
      color: var(--primary-text-color);
      font-family: var(--primary-font);
      font-size: 50px /* var(--secondary-font-size) */;
      line-height: var(--primary-line-height);
      text-align: stretch;
    }

    img {
      max-width: 400px;
    }

    .grid {
      display: grid;
      grid-template-columns: 2fr 1fr;
    }
    .grid1-5 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 2rem;
      margin: 30px 30px;
    }

    #soeg {
      margin: 5% 10%;
    }
  </style>
</div>
