---
const { text , svar} = Astro.props;
---

<div class="grid1_1">
  <button class="flex fold-out-btn">
    <img class="drej" src="../../public/img/downArrow.svg" alt="knap" />
    <div>{text}</div>
  </button>

  <div>
    <button>
      <div class="additional-content">
        <!-- Yderligere indhold, der foldes ud eller skjules -->
        {svar}
      </div>
    </button>
  </div>

  <div class="grid2-1">
    <p>Fik du svar på dit spørgsmål?</p>
    <div class="flex">
      <a href=""> <img src="../../public/img/thumbsUp.svg" alt="thumbs up"></a>
      <a href=""><img id="down" src="../../public/img/thumbsUp.svg" alt="thumbs down"></a>
    </div>
  </div>

  
  <div class="flex">
    <a href=""><img src="../../public/img/brevkasse-knap.webp" alt="brevkasse"></a>
    <a href=""><img src="../../public/img/community-knap.webp" alt="fælleskaber"></a>
    <a href=""><img src="../../public/img/podcast-knap.webp" alt="fælleskaber"></a>
    <a href=""><img src="../../public/img/FAQ.webp" alt="fælleskaber"></a>
  </div>
  
  
</div>

<style>

  #down{
    rotate: 180deg;
  }
  button {
    border: none;
    background-color: transparent;
  }

  a img:hover{
    
  }

  .grid2-1{
    display: grid;
   gap: 1rem;
  }
  .grid1_1{
    display: grid;
   gap: 2rem;
  }
  .flex {
    display: flex;
    gap: 5%;
  }

  .fold-out-btn:hover{
   padding: 2%;
  }
  img {
    width: 30px;
    place-self: center;
  }

  .omvendt{
    rotate: 180deg;
  }

  /* Skjul det yderligere indhold som standard */
  .additional-content {
    display: none;
    background-color: var(--primary-text-color);
    border-radius: 20px;
    color: var(--primary-baground-color);
    font-size: 20px;
    padding: 20px 20px;
   margin-left: 10%;  */
    cursor: pointer;
    width: fit-content;
  }

  /* Vis det yderligere indhold, når det har klassen "show" */
  .additional-content.show {
    display: block;
  }

  /* Tilføj lidt styling til fold-ud knappen */
  .fold-out-btn {
    border: none;
    background-color: var(--secondary);
    border-radius: 20px;
    color: var(--primary-text-color);
    font-size: 20px;
    padding: 20px 20px;
    cursor: pointer;
    margin-left: 40%;
    width: fit-content;
  }

  @media screen and (max-width: 800px) {
    .fold-out-btn {
    font-size: 16px;
    padding: 5% 5%;
    cursor: pointer;
    margin-left: 20%;
  }

  .additional-content {
    font-size: 16px;
    padding: 5% 5%;
   margin-left: 0%; 
   margin-bottom: 5%;
  }
  img {
    width: 20px;
  }

  .grid1_1{
   gap: 1rem;
  }
}
</style>

<script>
  // Find fold-ud knappen og det yderligere indhold
  const foldOutBtn = document.querySelector(".fold-out-btn");
  const additionalContent = document.querySelector(".additional-content");
  const pil = document.querySelector(".drej");

  // Tilføj en eventlistener til fold-ud knappen
  foldOutBtn.addEventListener("click", function () {
    // Skift tilstanden for det yderligere indhold mellem synlig og skjult
    additionalContent.classList.toggle("show");
    pil.classList.toggle("omvendt");
    
  });
</script>
