---

---

<section class="grid1_1">
  <div class="hjerne">
    <img src="../../public/img/hjerne.svg" alt="hjerne" />
  </div>

  <img class="bobbel" src="../../public/img/talebobbel.svg" alt="talebobbel" />
  <p class="citat">
    Faktisk føler 54% af unge piger mellem 12-24 år sig alene.
  </p>
</section>

<style>
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .hjerne {
    grid-area: 2 / 1 / 3 / 1;
    justify-self: center;
  }
  .citat {
    grid-area: 1 / 2 / 1 / 3;
    justify-self: center;
  }
  .bobbel {
    grid-area: 1 / 2 / 1 / 3;
    justify-self: center;
  }
  p {
    font-size: 3rem;
    font-family: var(--secondary-font);
    grid-area: 1 / 1 / 1 / 1;
    max-width: 505px;
    color: transparent;
    -webkit-text-stroke: 3px #fff5eb;
    padding: 10%;
  }

  .typewrite{
    
  }

</style>

<script>
/*   //find tekst
  const citat = document.querySelector(".citat");

  //start funktion ved scroll
  window.addEventListener("scroll", citatWrite);

  //funktion til scroll
  function citatWrite() {
    //-200 gør at animation først starter når man er scrollet 200px ind i den næste boks
    const triggerBottom = window.innerHeight - 200;

    //find de enkelte bokse
    const citatTop = citat.getBoundingClientRect().top;
    const citatBottom = citat.getBoundingClientRect().bottom;
    const citatHeight = citat.getBoundingClientRect().height;

    //hvis toppen af boksen kommer op forbi bunden af vinduet
    if (citatTop < triggerBottom && citatTop > -citatHeight) {
      //tilføj klasse til typewrite
    }
    if (citatBottom < 100 || citatTop > triggerBottom) {
      //fjern klasse til typewrite
    }
  } */
</script>
