---

---

<section class="grid1_1">
  <div class="hjerne">
    <img src="/img/Hjerne.webp" alt="hjerne" />
  </div>

  <img class="bobbel" src="/img/talebobbel.svg" alt="talebobbel" />

  <div class="typewriter" id="citat">
    <h4 class="line">Faktisk føler 54%</h4>
    <h4 class="line">af unge piger</h4>
    <h4 class="line">mellem 12-24 år</h4>
    <h4 class="line">sig alene.</h4>
  </div>
</section>

<style>
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px 30px;
  }

  .hjerne {
    grid-area: 2 / 1 / 3 / 1;
    justify-self: center;
    margin-top: -15%;
    max-width: 70%;
    min-width: 400px;
  }
  #citat {
    grid-area: 1 / 2 / 1 / 3;
    justify-self: center;
    margin: 18% 20%;
  }
  .bobbel {
    grid-area: 1 / 2 / 1 / 3;
    justify-self: center;
    max-width: 80%;
    min-width: 455px;
    margin-top: 5%;
  }
  h4 {
    font-size: 2.5rem;
    font-family: var(--secondary-font);
    color: var(--primary-baground-color);
    grid-area: 1 / 1 / 1 / 1;
    max-width: 505px;
  }

  .typewriter h4 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    width: 0;
  }

  .typewriter .line:nth-child(1) {
    animation: typing 2s steps(40, end) 0s forwards; /* Animation delay for first line */
  }

  .typewriter .line:nth-child(2) {
    animation: typing 2s steps(40, end) 2s forwards; /* Animation delay for second line */
  }

  .typewriter .line:nth-child(3) {
    animation: typing 2s steps(40, end) 4s forwards; /* Animation delay for third line */
  }

  .typewriter .line:nth-child(4) {
    animation: typing 2s steps(40, end) 6s forwards; /* Animation delay for fourth line */
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  /* -------------------- MOBIL -------------------- */
  @media screen and (max-width: 800px) {
    .grid1_1 {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 5% 5%;
    }
    h4 {
      font-size: 2rem;
    }
    .bobbel {
    }
    #citat {
      margin: 21%;
    }

    .hjerne {
      grid-area: 2 / 1 / 3 / 3;
      max-width: 70%;
      min-width: 400px;
      margin-top: 10%;
      margin-left: -60%;
    }
  }
</style>

<script>
  // find tekst
  const lines = document.querySelectorAll(".typewriter .line");

  // start funktion ved scroll
  window.addEventListener("scroll", citatWrite);

  // funktion til scroll
  function citatWrite() {
    //-100 gør at animation først starter når man er scrollet 100px ind i den næste boks
    const triggerBottom = window.innerHeight - 100;

    // kør igennem hver linje og tilføj animation klasse hvis den er synlig
    lines.forEach((line) => {
      const lineTop = line.getBoundingClientRect().top;
      const lineBottom = line.getBoundingClientRect().bottom;

      if (lineTop < triggerBottom && lineBottom > 0) {
        line.classList.add("typewriter");
      }
    });
  }
</script>
