---

---

<section class="grid1_1">
  <div class="hjerne">
    <img src="../../public/img/hjerne.svg" alt="hjerne" />
  </div>

  <img class="bobbel" src="../../public/img/talebobbel.svg" alt="talebobbel" />

  <div class="typewriter" id="citat">
    <p>Faktisk føler 54%</p>
    <p>af unge piger</p>
    <p>mellem 12-24 år</p>
    <p>sig alene.</p>
  </div>

  <style>
    .grid1_1 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      margin: 10px 30px;
    }

    .hjerne {
      grid-area: 2 / 1 / 3 / 1;
      justify-self: center;
      margin-top: -10%;
    }
    #citat {
      grid-area: 1 / 2 / 1 / 3;
      justify-self: center;
      margin: 18% 20%;
    }
    .bobbel {
      grid-area: 1 / 2 / 1 / 3;
      justify-self: center;
      max-width: 90%;
    }
    p {
      font-size: 3rem;
      font-family: var(--secondary-font);
      color: var(--primary-baground-color);
      grid-area: 1 / 1 / 1 / 1;
      max-width: 505px;
    }

    .typewriter p {
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      animation: typing 4s steps(40, end);
    }

    /* The typing effect */
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }
  </style>

  <script>
    //find tekst
    const citat = document.querySelector(".typewriter");

    //start funktion ved scroll
    window.addEventListener("scroll", citatWrite);

    //funktion til scroll
    function citatWrite() {
      //-200 gør at animation først starter når man er scrollet 100px ind i den næste boks
      const triggerBottom = window.innerHeight - 100;

      //find de enkelte bokse
      const citatTop = citat.getBoundingClientRect().top;
      const citatBottom = citat.getBoundingClientRect().bottom;
      const citatHeight = citat.getBoundingClientRect().height;

      //hvis toppen af boksen kommer op forbi bunden af vinduet
      if (citatTop < triggerBottom && citatTop > -citatHeight) {
        //tilføj klasse til typewrite
        document.querySelector("div #citat").classList.add(".typewriter");
      }
      /*       if (citatBottom < 100 || citatTop > triggerBottom) {
      //fjern klasse til typewrite
      document.querySelector("#citat").classList.remove(".typewriter");
    } */
    }
  </script>
</section>
