---

---

<section class="grid1_1">
  <div class="hjerne">
    <img src="../../public/img/hjerne.svg" alt="hjerne" />
  </div>

  <img class="bobbel" src="../../public/img/talebobbel.svg" alt="talebobbel" />

  <div class="typewriter" id="citat">
    <p class="line">Faktisk føler 54%</p>
    <p class="line">af unge piger</p>
    <p class="line">mellem 12-24 år</p>
    <p class="line">sig alene.</p>
  </div>
</section>

<style>
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 10px 30px;
  }

  .hjerne {
    grid-area: 2 / 1 / 3 / 1;
    justify-self: center;
    margin-top: -10%;
  }
  #citat {
    grid-area: 1 / 2 / 1 / 3;
    justify-self: center;
    margin: 18% 20%;
  }
  .bobbel {
    grid-area: 1 / 2 / 1 / 3;
    justify-self: center;
    max-width: 90%;
  }
  p {
    font-size: 3rem;
    font-family: var(--secondary-font);
    color: var(--primary-baground-color);
    grid-area: 1 / 1 / 1 / 1;
    max-width: 505px;
  }

  .typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    width: 0;
  }

  .typewriter .line:nth-child(1) {
    animation: typing 4s steps(40, end) 0s forwards; /* Animation delay for first line */
  }

  .typewriter .line:nth-child(2) {
    animation: typing 4s steps(40, end) 4s forwards; /* Animation delay for second line */
  }

  .typewriter .line:nth-child(3) {
    animation: typing 4s steps(40, end) 8s forwards; /* Animation delay for third line */
  }

  .typewriter .line:nth-child(4) {
    animation: typing 4s steps(40, end) 12s forwards; /* Animation delay for fourth line */
  }

  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
</style>

<script>
// find tekst
const lines = document.querySelectorAll(".typewriter .line");

// start funktion ved scroll
window.addEventListener("scroll", citatWrite);

// funktion til scroll
function citatWrite() {
  //-100 gør at animation først starter når man er scrollet 100px ind i den næste boks
  const triggerBottom = window.innerHeight - 100;

  // kør igennem hver linje og tilføj animation klasse hvis den er synlig
  lines.forEach((line, index) => {
    const lineTop = line.getBoundingClientRect().top;
    const lineBottom = line.getBoundingClientRect().bottom;

    if (lineTop < triggerBottom && lineBottom > 0) {
      line.classList.add("typewriter");
    }
  });
}
</script>
