---
 import MainLayout from "../MainLayout.astro";
---
<div class="container">

<div class="hj"> <img src="src/./img/hjerter2.webp" alt="hjerter"></div>
<div class="planet"><img src="src/./img/planet.webp" alt="planetmhjerter"></div></div>

<div><p>Husk på du ikke sidder alene med dine følelser!</p></div>

<div class="streg"><img src="src/./img/streg.webp" alt="streg"></div>


<style>
.container {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 height: 60vh;

}
.hj{
position: absolute;
top: 0;
z-index: 1;
margin-top: -55px;
}
.planet{
z-index: 0;
}
img{
max-width: 100%;
max-height:100%;
}
p{
    text-align: center;
}
.streg img{
    width: 40px;
    margin-left: 108px;
}
@media screen and (min-width: 768px) {
.streg img {
        width: 40px; 
        margin-left: 638px; 
}
img {
    margin-bottom: 30px;
    max-width: 40%;
    max-height:80%;
}
}
</style>