---
 import MainLayout from "../MainLayout.astro";
---

<div><img src="src/./img/planet.webp" alt="planetmhjerter"></div>

<div><p>Husk på du ikke sidder alene med dine følelser!</p></div>

<div><img src="src/./img/streg.webp" alt="streg"></div>