---
import "../styles/generel.css";
---
<section class="container">
<section class="box1">
<h3>Ensomhet er stadig tabubelagt. Det er mange der føler sig forkerte over at føle sig alene</h3>
</section>
<section class="box2"></section>
</section>

<style>
    .container {
  position: relative;
}
      .box1 {
        position: relative;
        z-index: 1;
        background-color: #f7c7d9;
        width: 98%;
        height: 100%;
        padding: 20px;
    }
    .box2 {
        z-index: 0    ;
        position: absolute;
    background: #273aaa;
    width: 98%;
    height: 100%;
    top: 13px;
    left: 10px;
    }
    h3 {
        text-align: center;
        margin-top: 3%;
        color: #273aaa;
        justify-content: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (min-width: 800px) {
        .box1 {
            width: 98%;
            height: 270px;
            padding: 20px;
        }
        .box2 {
            width: 98%;
            height: 100%;
        }

        h3 {
        text-align: center;
           padding-left: 110px;
        padding-right: 110px;}
    }
</style>
