---
import "../styles/generel.css";
---
<section class="container">
<section class="box1">
<h1>ER DER STADIG KØ TIL CHATTEN?</h1>
<p>Dette er blot et af de emner du kan læse mere om i vores FAQ, brevkasse eller lytte til i vores podcast, mens du venter. </p> 
   <p>Online chat giver en sikker plads, hvor folk kan dele deres problemer og bekymringer anonymt, hvilket især er vigtigt for unge, der måske er tilbageholdende med at tale om personlige emner ansigt til ansigt.</p>  
   <p> Hos girlttlak er der ingen spørgsmål, der er for store eller små, og de er der for at lytte og støtte.</p> 
</section>
<section class="box2"></section>
</section>
<style>

.container {
  position: relative;
}
      .box1 {
        position: relative;
        z-index: 1;
        background-color: #f7c7d9;
        width: 98%;
        height: 210px;
        padding: 20px;
    }
    .box2 {
        z-index: 0    ;
        position: absolute;
    background: #273aaa;
    width: 716px;
    height: 209px;
    top: 13px;
    left: 10px;
    }
</style>