---
import "../styles/generel.css";
---
<section class="container">
<section class="box1">
<h3>Ensomhet er stadig tabubelagt. Det er mange der føler sig forkerte over at føle sig alene</h3>
</section>
<section class="box2"></section>
</section>

<style>
    .container {
  position: relative;
}
      .box1 {
        position: relative;
        z-index: 1;
        background-color: #f7c7d9;
        width: 98%;
        height: 150px;
        padding: 20px;
    }
    .box2 {
        z-index: 0    ;
        position: absolute;
    background: #273aaa;
    width: 98%;
    height: 149px;
    top: 13px;
    left: 10px;
    }
    p {
        font-size: 1.5em;
        color: primary
        text-align: center;
    }
</style>
