---
import "../styles/generel.css";
---
<section class="container">
<section class="box1"> 
    <div class="grid_1-1">
<h3>Måske føler du deg alene<h3>
<img src="" alt="hoho">
</div>
    </section>

<section class="box2"></section>
</section>

<style>

    .grid_1-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .container {
  position: relative;
}
    .box1 {
        position:relative;
        z-index: 1;
        background-color: #f7c7d9;
        width: 98%;
        height: 150px;
        padding: 20px;
    }
    .box2 {
        z-index: 0    ;
        position: absolute;
    background: #273aaa;
    width: 98%;
    height: 149px;
    top: 13px;
    left: 10px;
    }
    h2 {
        color: primary;
        font-size: 40px;
    }
    img {
        width: 100%;
        height: auto;
    }
</style>
