---
 import MainLayout from "../MainLayout.astro";
---
<div id="scroll-container" class="grid">
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <!-- Tilføj flere stykker tekst efter behov -->
</div>
<div id="scroll-container2" class="grid">
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <!-- Tilføj flere stykker tekst efter behov -->
</div>
<style>
/* Kommentar for at forklare formålet med styling */
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;

}
#scroll-container{
  white-space: nowrap; /* Forhindre tekst i at bryde linjer */
  transform: translateX(100%); /* Startposition */
  animation: my-animation 25s linear infinite; /* Animation */
}
.scroll-text {
  /* Tilpasning af styling og animation efter behov */
}

/* Tilføj forsinkelse til animationen for .scroll-container2 */
#scroll-container2 .scroll-text {
  animation-delay: 10s; /* Forsinkelse på 10 sekunder */
}

/* Nøgleframes for animation */
@keyframes my-animation {
  from { transform: translateX(110%); } /* Startposition */
  to { transform: translateX(-110%); } /* Slutposition */
}
</style>

