---
 import MainLayout from "../MainLayout.astro";
---
<div id="scroll-container">
<div id="scroll-container1" class="grid">
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <div class="scroll-text">FAQ</div>
  <div class="scroll-text">PODCAST</div>
  <div class="scroll-text">BREVKASSE</div>
  <div class="scroll-text">FÆLLESSKAB</div>
  <div class="scroll-text2">FAQ</div>
  <div class="scroll-text2">PODCAST</div>
  <div class="scroll-text2">BREVKASSE</div>
  <div class="scroll-text2">FÆLLESSKAB</div>
  <!-- Tilføj flere stykker tekst efter behov -->
</div>
<div id="scroll-container2" class="grid">
  <div class="scroll-text2">FAQ</div>
  <div class="scroll-text2">PODCAST</div>
  <div class="scroll-text2">BREVKASSE</div>
  <div class="scroll-text2">FÆLLESSKAB</div>
  <div class="scroll-text2">FAQ</div>
  <div class="scroll-text2">PODCAST</div>
  <div class="scroll-text2">BREVKASSE</div>
  <div class="scroll-text2">FÆLLESSKAB</div>
  <div class="scroll-text2">FAQ</div>
  <div class="scroll-text2">PODCAST</div>
  <div class="scroll-text2">BREVKASSE</div>
  <div class="scroll-text2">FÆLLESSKAB</div>
  <div class="scroll-text2">FAQ</div>
  <div class="scroll-text2">PODCAST</div>
  <div class="scroll-text2">BREVKASSE</div>
  <div class="scroll-text2">FÆLLESSKAB</div>
  <div class="scroll-text2">FAQ5</div>
  <div class="scroll-text2">PODCAST</div>
  <div class="scroll-text2">BREVKASSE</div>
  <div class="scroll-text2">FÆLLESSKAB</div>

  <!-- Tilføj flere stykker tekst efter behov -->
</div>
</div>
<style>
  *{
    margin: 0;
    box-sizing: border-box;
  }
#scroll-container{
display: flex;
align-items: flex-start;
gap: 20px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 20px;
}

#scroll-container1, #scroll-container2{
  transform: translateX(120%); /* Startposition */
  animation: my-animation 20s linear infinite; /* Animation */
}

.scroll-text {
  /* Tilpasning af styling og animation efter behov */
}
#scroll-container2 {
  /* animation-delay: 12.5s; */
}
@keyframes my-animation {
  from { transform: translateX(-1%); } /* Startposition */
  to { transform: translateX(-101%); } /* Slutposition */
}
</style>

