---
 import MainLayout from "../MainLayout.astro";
---
<div id="scroll-container">
<div id="scroll-container1" class="grid">
  <p>FAQ</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>
  <p>FAQ</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>
  <p>FAQ</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>
  <p>FAQ</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>
  <p>FAQ</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>
  <!-- Tilføj flere stykker tekst efter behov -->
</div>
<div id="scroll-container2" class="grid">
  <p>FAQ</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>
  <p>FAQ</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>
  <p>FAQ</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>
  <p>FAQ</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>
  <p>FAQ5</p>
  <p>PODCAST</p>
  <p>BREVKASSE</p>
  <p>FÆLLESSKAB</p>

  <!-- Tilføj flere stykker tekst efter behov -->
</div>
</div>
<style>
  *{
    margin: 0;
    box-sizing: border-box;
  }
#scroll-container{
display: flex;
align-items: flex-start;
gap: 30px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 20px;
}

#scroll-container1, #scroll-container2{
  transform: translateX(118%); /* Startposition */
  animation: my-animation 50s linear infinite; /* Animation */
}

.scroll-text {
  /* Tilpasning af styling og animation efter behov */
    color: var(--primary-text-color);
      font-family: "archivo_semibold";
      font-size: 16px;
}
#scroll-container2 {
  /* animation-delay: 12.5s; */
}
@keyframes my-animation {
  from { transform: translateX(-1%); } /* Startposition */
  to { transform: translateX(-101%); } /* Slutposition */
}
p{
  font-size: 24px;
  font-family: "archivo_semibold";
  color: var(--secondary-text-color);
}
</style>

