---
 import MainLayout from "../components/MainLayout.astro";
---

<div class="et">
    <h1>SÅ LÆS NOGLE AF DE MANGE SPØRGSMÅL</h1>
    <img src="src/./img/hjerteikon.webp" alt="hjerteikon">
</div>

<div class="container">
<div class="row">
<div class="column">
                    <img src="src/img/spg1.webp" alt="Billede 1">
                </div>
                <div class="column">
                    <img src="src/img/spg2.webp" alt="Billede 2">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <img src="src/img/spg3.webp" alt="Billede 3">
                </div>
                <div class="column">
                    <img src="src/img/spg4.webp" alt="Billede 4">
</div>
</div>
</div>







<style>

</style>