---
 import MainLayout from "../MainLayout.astro";
---

<div class="container">
    <h1>SÅ LÆS NOGLE AF DE MANGE SPØRGSMÅL</h1>
    <div class="hjerteikon"> <img src="src/./img/hjerteikon.webp" alt="hjerteikon"></div>
</div>

<div class="container2">
    <div class="column">
        <img src="src/img/spg1.webp" alt="Billede 1">
    </div>
    <div class="column">
        <img src="src/img/spg2.webp" alt="Billede 2">
    </div>
    <div class="column">
        <img src="src/img/spg3webp.webp" alt="Billede 3">
    </div>
    <div class="column">
        <img src="src/img/spg4.webp" alt="Billede 4">
    </div>
</div>

<style>
.container{
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   
}
h1{
    margin: 0;
    color:var(--tertiary);
    margin-bottom: 30px;
}
 .hjerteikon img{
 width: 50px;
 height: auto;  
 } 
 .container2 {
    text-align: center; 
    padding: 0 20px;
}

.column {
    margin: 40px auto; 
}

img {
    display: block; 
    width: 350px; 
    height: auto; 
}


@media screen and (min-width: 768px) {

h1{
margin-bottom: 60px;
}
 .hjerteikon img{
 width: 75px;
 height: auto;  
 } 
 .column {
        margin: 30px auto; 
        max-width: 50%; 
    }

    .container2{
        margin-left:10%;
    }
    .column:nth-child(1),
    .column:nth-child(3) {
        margin-right: 20px ; 
    }

    .column:nth-child(2),
    .column:nth-child(4) {
        margin-left: 20px; 
    }

    img {
        width: 450px; 
    }
}
</style>