---
 import MainLayout from "../MainLayout.astro";
---
<section id="top_start">
<div id="iphone">
    <figure id="clock"></figure>
    <figure id="besked"></figure>
</div>
<h1>Var der kø til chatten?</h1>
<!-- svg -->
</section>
<style>
#top_start{
    height: 800px;
background-color: var(--secondary);

}
</style>